@media screen and (min-width: 992px){
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
  }
  a{
    cursor: none;
  }
  html {
    height: 100%;
  }
  body {
    min-height: 100%;
    font-family: 'Courier New';
    overflow-x: hidden;
  }
  .custom-cursor {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    transition: transform 350ms ease;
    transform: translate(-50%, -50%) scale(.3);
    z-index: 1000;
  }
  .custom-cursor--link {
    background-color: transparent;
    transform: translate(-50%, -50%) scale(1);
    border:2px solid white;
  }

}