footer{
  .logo-container{
    margin-bottom: 30px;
    .logo-img{
      height: 100px;
    }
  }
  .footer-menu{
    ul{
      list-style-type: none;
      li{
        a{
          text-transform: uppercase;
          position: relative;
          text-decoration: none;
          display: inline-block;
          padding: 0 1px;
          font-size: 14px;
          transition: color ease 0.3s;

          &::before, &::after {
            content: '';
            position: absolute;
            background-color: $axios-grey-medium;
            z-index: 1;
            height: 1px;
          }

          &::before {
            width: 0%;
            left: 0;
            bottom: 0;
            transition: width ease 0.4s;
          }

          &::after {
            background-color: transparent;
            width: 100%;
            left: 0;
            bottom: 0;
            transition: all ease 0.6s;
          }

          &:hover {

            &::before {
              width: 100%;
              background-color: $axios-dark;
            }

            &::after {
              background-color: $axios-dark;
              left: 100%;
              width: 0%;
              transition: all ease 0.2s;
            }
          }
        }
      }
    }
  }
  .social-menu{
    ul{
      list-style-type: none;
    }
  }
  .newsletter-form{
    .form{
      max-width: 500px;
      .form-text{
        font-family: $axios-nunito;
        font-size: 15px;
        color: #666;
        line-height: 20px;
      }
      input{
        outline: none;
        border: none;
        border-bottom: 1px solid $axios-grey-light;
        padding-bottom: 10px;
        font-family: $axios-nunito;
        font-size: 15px;
        color: $axios-dark;
        line-height: 24px;
        padding-right: 115px;
        &::placeholder{
          font-family: $axios-nunito;
          font-size: 15px;
          color: $axios-grey-light;
          line-height: 40px;
        }
      }
      a{
        right: 0;
        top: 5px;
        display: inline-flex;
        font-family: $axios-montserrat;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 24px;
        align-items: center;
        .arrow-icon-cont{
          .arrow-icon {
            position: relative;
            top: -1px;
            -webkit-transition: -webkit-transform 0.3s ease;
            transition: -webkit-transform 0.3s ease;
            transition: transform 0.3s ease, -webkit-transform 0.3s ease;
            vertical-align: middle;
            g{
              stroke: $axios-grey-medium;
            }
          }

          .arrow-icon--circle {
            transition: stroke-dashoffset .3s ease;
            stroke-dasharray: 95;
            stroke-dashoffset: 95;
          }

        }
        &:hover{
          .arrow-icon-cont{
            .arrow-icon {
              transform: translate3d(5px, 0, 0);
              g{
                stroke: $axios-dark;
              }
            }

            .arrow-icon--circle {
              stroke-dashoffset: 0;
            }
          }
        }
      }
      .consent{
        font-size: 13px;
        margin-top: 0;
        a{
          text-transform: unset;
          padding: 0;
          font-family: $axios-nunito;
          font-weight: $axios-nunito-bold;
          color: $axios-grey-medium;
          font-size: 13px;
          top: 0;
          transition: $axios-transition $easeInOutQuart;
          &:hover{
            color: $axios-dark;
          }
        }
      }
    }
  }
  .copyright-container{
    .copyright{
      span{
        font-family: $axios-nunito;
        font-weight: $axios-font-regular;
        font-size: 14px;
        line-height: 24px;
        color: $axios-dark;
        max-width: 160px;
      }
    }
    .blend-link{
      font-family: $axios-nunito;
      font-weight: $axios-font-regular;
      font-size: 14px;
      line-height: 24px;
      color: $axios-dark;
    }
  }
  .legals-menu{
    ul{
      list-style-type: none;
      li{
        a{
          font-size: 14px;
          line-height: 24px;
          padding: 0 30px;
        }
      }
      li:last-child{
        a{
          padding: 0 30px;
        }
      }
    }
  }
  .blend{
    .blend-link{
      .e-flipped{
        transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
      }
    }
  }
}

@media screen and (min-width: 576px) {

  footer{
    .copyright-container {
      .copyright{
        span{
          max-width: 100%;
        }
      }
    }
    .legals-menu{
      li{
        a{
          line-height: 13px!important;
          border-right: 1px solid #858f99;
        }
      }
      li:last-child{
        a{
          border:none;
        }
      }
    }
  }

}
