h1{
  font-family: $axios-montserrat;
  text-transform: uppercase;
  color: $axios-dark;
  font-weight: $axios-montserrat-bold;
  font-size: 42px;
  line-height: 52px;
  letter-spacing: 1px;
  .thin{
    font-size: 36px;
    font-weight: $axios-montserrat-thin;
  }
  &.inner-template-heading{
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 4px;
    &.underline{
      position: relative;
      padding-bottom: 10px;
      margin-bottom: 27px;
      &:after{
        content: '';
        position: absolute;
        height: 1px;
        background-color: $axios-grey-medium;
        width: 30px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto auto -7px auto;
      }
    }
  }
}

h2{
  font-family: $axios-montserrat;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 15px;
  line-height: 24px;
  font-weight: $axios-montserrat-bold;
  &.underline{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 27px;
    &:after{
      content: '';
      position: absolute;
      height: 1px;
      background-color: $axios-grey-medium;
      width: 30px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto auto -7px auto;
    }
  }
}

h3{
  font-family: $axios-montserrat;
  font-size: 24px;
  line-height: 30px;
  font-weight: $axios-montserrat-medium;
  color: $axios-grey-medium;
  padding-bottom: 20px;
  margin-bottom: 0;
  &.text-dark{
    color: $axios-dark;
  }
}

h4{
  font-family: $axios-montserrat;
  font-size: 20px;
  line-height: 30px;
  font-weight: $axios-montserrat-medium;
  color: $axios-dark;
}

@media screen and (min-width:576px){

  h1{
    font-size: 52px;
    line-height: 60px;
  }

}