#keyfigures{
  .hero-container{
    .hero-bg{
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      .bg-img{
        background-position: center center;
      }
    }
    .hero-content-container{
      padding: 150px 4px 90px 4px;
      .content{
        h3{
          line-height: 30px;
          color: #fff;
        }
      }
    }
    .about-us-block-separator{
      &:after{
        border-color: transparent transparent transparent #eee;
      }
    }
  }
  .content-container{
    padding-top: 0;
    padding-bottom: 150px;
    .back-button{
      a{
        font-family: $axios-montserrat;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 24px;
        font-weight: $axios-montserrat-bold;
        color: $axios-grey-medium;
      }
    }
    .section-numbers{
      h2{
        font-family: $axios-montserrat;
        font-weight: $axios-montserrat-bold;
        font-size: 15px;
        line-height: 36px;
        letter-spacing: 0;
        color: $axios-grey-light;
        &:after{
          content: '';
          display: block;
          position: absolute;
          height: 1px;
          background-color: $axios-grey-light;
          width: 30px;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
      .number{
        font-family: $axios-montserrat;
        font-weight: $axios-montserrat-medium;
        font-size: 62px;
        line-height: 50px;
        color: $axios-dark;
        padding-top: 20px;
        padding-bottom: 50px;
      }
    }
    .nav-tabs{
      border-bottom: none;
      //flex-wrap: unset;
    }
  }
  .bottom-block-separator{
    &.angled-separator{
      background-color: #eee;
      &.invert{
        &:after {
          border-color: transparent transparent transparent #fff;
        }
      }
    }
  }
}

.selectTab__openMobile{

  a {
    color: $axios-grey-dark;
    border-bottom: solid 1px #ccc;
    font-weight: 700;
    background-color: #fff;
    position: relative;
    text-align: center;
    padding: 10px;
    display: block;
    width: 100%;
    i{
      color: $axios-grey-medium;
    }
    &:before{
      content: '';
      height: 2px;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
    }
  }

}

.selectTab__mobile{
  display: none;
}

.selectTab__button{
  width: 100%;

  a{
    color: $axios-grey-dark;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    display: block;
    font-weight: 700;
  }
}

.keyfigures,.reports {
  .nav-item{
    width: 100%;
    text-align: center;
  }
  .nav-tabs .nav-link {
    padding: 15px;
  }
}

.pdfIcon{
  width: 32px;
  height: 32px;
  background-image: url('../img/pdf-icon_sprite.png');
  background-size: cover;
  background-position: left;
}

.representationIcon{
  width: 29px;
  height: 31px;
  background-image: url('../img/presentation-icon_sprite.png');
  background-size: cover;
  background-position: left;
}

.pdfIcon,.representationIcon{
  &:hover{
    background-position: right;
  }
}

.tableRow{
  a{
    display: inline-block;
  }
}

@media (max-width: 575.98px) {
  .keyfigures, .reports {
    .content{
      text-align: center;
    }

    .tableHeader,.tableRow{
      text-align: left;
    }
  }
}

@media (min-width: 575.98px) {
  #keyfigures {
    .content-container {
      .section-numbers {
        h2:after {
          margin: auto 15px;
        }

      }
    }
  }
}

@media screen and (min-width: 768px) {
  #keyfigures {
    .content-container {
      .nav-tabs{
        flex-wrap: unset;
      }
    }
  }
}