#media-kit {
  .hero-container {
    .hero-bg {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background-size: cover;
    }
    .hero-content-container {
      padding: 150px 4px 150px 4px;
      .back-button{
        a{
          &:hover{
            color: #fff !important;
            g{
              stroke: #fff;
            }
          }
        }
      }
      .content {
        h3 {
          padding-top: 15px;
          padding-bottom: 35px;
          line-height: 30px;
          color: #fff;
        }
        a{
          i{
            padding-right: 10px;
          }
        }
      }
    }
  }
  .bottom-block-separator{
    &:after{
      border-color: transparent transparent transparent #fff;
    }
  }
}
@media screen and (min-width: 768px){
  #media-kit {
    .hero-container {
      .hero-content-container {
        padding: 150px 4px 250px 4px;
      }
    }
  }
}