#about-us{
  .hero-container{
    .hero-bg{
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background-size: cover;
    }
    .hero-content-container{
      padding: 150px 4px 50px 4px;
      .content{
        h3{
          line-height: 30px;
          color: #fff;
        }
        .hero-text{
          column-count: 1;
          column-gap: unset;
          p{
            &.first-paragraph{
              font-size: 20px;
              line-height: 30px;
            }
          }
        }
      }
    }
    .about-us-block-separator{
      &:after{
        border-color: transparent transparent transparent #eee;
      }
    }
  }
  #about-us-section-1{
    padding: 50px 5px!important;
    h3{
      line-height: 48px;
    }
    .team-container{
      .member-photo-link{
        .member-photo{
          background-size: cover;
          height: 280px;
          margin: auto;
          background-position: center center;
          overflow: hidden;
          transition: $axios-transition-fast $easeInOutQuart;
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
        }
        &:before{
          content: '';
          position: absolute;
          height: 100%;
          left: 0;
          right: 0;
          width: 100%;
          margin: auto;
          background: #9ea5ab; /* Old browsers */
          background: -moz-linear-gradient(top, #9ea5ab 0%, #bfc3c8 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #9ea5ab 0%,#bfc3c8 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #9ea5ab 0%,#bfc3c8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ea5ab', endColorstr='#bfc3c8',GradientType=0 ); /* IE6-9 */
          opacity: 0.4;
          transition: $axios-transition-fast $easeInOutQuart;
        }
        &:hover{
          .bg-img{
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
            transform: scale(0.95);
          }
          &:before{
            opacity: 0;
          }
        }
      }
      .member-info{
        .name{
          font-family: $axios-montserrat;
          font-size: 21px;
          font-weight: $axios-montserrat-semibold;
          line-height: 30px;
          color: $axios-dark;
        }
        .title{
          font-family: $axios-montserrat;
          font-size: 14px;
          font-weight: $axios-montserrat-semibold;
          line-height: 30px;
          color: $axios-grey-medium;
        }
        .social{
          a{
            font-size: 14px;
            padding: 0 15px;
            .fab{
              font-size: 16px;
            }
          }
        }
      }
      .member-description{
      }
    }
  }
  #about-us-section-2{
    padding: 50px 5px!important;
    h3{
      line-height: 48px;
    }
    .team-container{
      .member-photo-link{
        .member-photo{
          background-size: cover;
          height: 280px;
          margin: auto;
          background-position: center center;
          overflow: hidden;
          transition: $axios-transition-fast $easeInOutQuart;
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
        }
        &:before{
          content: '';
          position: absolute;
          height: 100%;
          left: 0;
          right: 0;
          width: 100%;
          margin: auto;
          background: #9ea5ab; /* Old browsers */
          background: -moz-linear-gradient(top, #9ea5ab 0%, #bfc3c8 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #9ea5ab 0%,#bfc3c8 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #9ea5ab 0%,#bfc3c8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ea5ab', endColorstr='#bfc3c8',GradientType=0 ); /* IE6-9 */
          opacity: 0.4;
          transition: $axios-transition-fast $easeInOutQuart;
        }
        &:hover{
          .bg-img{
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
            transform: scale(0.95);
          }
          &:before{
            opacity: 0;
          }
        }
      }
      .member-info{
        .name{
          font-family: $axios-montserrat;
          font-size: 21px;
          font-weight: $axios-montserrat-semibold;
          line-height: 30px;
          color: $axios-dark;
        }
        .title{
          font-family: $axios-montserrat;
          font-size: 14px;
          font-weight: $axios-montserrat-semibold;
          line-height: 30px;
          color: $axios-grey-medium;
        }
        .social{
          a{
            font-size: 14px;
            padding: 0 15px;
            .fab{
              font-size: 16px;
            }
          }
        }
      }
      .member-description{
      }
    }
  }
  .about-us-block-separator{
    &:after{
      border-color: transparent transparent transparent #fff;
    }
  }
}

@media screen and (min-width: 576px) {

  #about-us {
    .hero-container {
      .hero-content-container {
        padding: 150px 4px 200px 4px;
        .content {
          h3 {
            line-height: 48px;
          }
        }
      }
      .hero-bottom-img {
        bottom: 150px;
        .bg-img{
          height: 200px;
          background-size: cover;
          z-index: 1;
        }
      }
    }
    #about-us-section-1 {
      padding: 100px 5px !important;
      .team-container{
        .member-info{
          .social{
            a{
              font-size: 14px;
              padding: 0 25px 0 0;
            }
          }
        }
      }
    }
    #about-us-section-2 {
      padding: 100px 5px !important;
      .team-container{
        .member-info{
          .social{
            a{
              font-size: 14px;
              padding: 0 25px 0 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #about-us {
    .hero-container {
      .hero-bottom-img {
        .bg-img {
          height: 300px;
          background-size: cover;
        }
      }
    }
    #about-us-section-1 {
      padding: 180px 5px !important;
    }
    #about-us-section-2 {
      padding: 180px 5px !important;
    }
  }
}
@media screen and (min-width: 1200px){
  #about-us {
    .hero-container {
      .hero-content-container {
        padding-top: 150px;
        padding-bottom: 250px;
        .content {
          .hero-text {
            column-count: 2;
            column-gap: 30px;
          }
        }
      }
      .hero-bottom-img {
        bottom: 200px;
        .bg-img{
          height: 400px;
          background-size: cover;
        }
      }
    }
    #about-us-section-1 {
      padding-top: 250px !important;
      padding-bottom: 250px !important;
      .team-container{
        .member-photo{
          height: 255px;
        }
      }
    }
    #about-us-section-2 {
      padding-top: 250px !important;
      padding-bottom: 250px !important;
      .team-container{
        .member-photo{
          height: 255px;
        }
      }
    }
  }


}

