#what-we-do{
  .hero-container{
    .hero-bg{
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background-size: cover;
      background-position: center center;
    }
    .hero-content-container{
      padding: 150px 4px 5px 4px;
      .content{
        h1{
          line-height: 30px;
          color: #fff;
        }
        h3{
          color: #fff;
        }
      }
    }
    .canvas-container{
      background-position: center center;
      .btn-container{
        left: 0;
        right: 0;
        margin: auto;
        .hotspot-btn{
          a{
            display: block;
            line-height: 38px;
            font-weight: $axios-font-regular;
            font-size: 18px;
            color: #fff;
            font-family: $axios-montserrat;
            &:before{
              content: '\f067';
              font-family: "Font Awesome 5 Pro",sans-serif;
              font-weight: 500;
              display: block;
              border-radius: 100%;
              margin: auto;
              height: 19px;
              width: 20px;
              margin-bottom: 10px;
              color: $axios-dark;
              font-size: 12px;
              text-decoration: none;
              background-color: $axios-grey-light;
              line-height: 20px;
              transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
            }
          }
          .attract-hover{
            .attract-hover-easing{
              display: flex;
              justify-content: center;
              transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
              a{
                text-align: left;
                font-family: $axios-montserrat;
                font-size: 14px;
                font-weight: 400;
                line-height: 40px;
                padding-left: 10px;
                transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
                &:hover{
                  font-size: 18px;
                  line-height: 24px;
                  color: #fff;
                }
              }
            }
          }
        }
      }
      canvas{
        width: 100%;
        display: none;
      }
    }

  }
  .bottom-block-separator{
    &:after{
      border-color: transparent transparent transparent #fff;
    }
  }
  #what-we-do-slides {
    position: fixed;
    z-index: 109;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    transition: transform cubic-bezier(.77,0,.175,1) .8 + s;
  }
  .vertical-container{
    position: fixed;
    bottom: 0;
    background-color: $axios-dark;
    z-index: 120;
    top: 0;
    width: 100%;
    overflow: hidden;
    transform: translateX(-100%);
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    .back-button-cont{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 100;
      background-color: rgba(10,11,11,0.95);
    }
    .back-button{
      a{
        justify-content: center;
        &:hover{
          color: #fff !important;
          .arrow-icon{
            g{
              stroke: #fff !important;
            }
          }
        }
      }
    }
    .vertical-cont-inner{
      position: relative;
      overflow: scroll;
      height: 100vh;
      padding-bottom: 100px;
      padding-top: 100px;
      .title{
        margin: auto;
      }
      .companies{
        .company-cont{
          .company-img{
            .bg-img{
              height: 175px;
              width: 100%;
              background-size: cover;
              background-position: center center;
            }
          }
        }
        .text-cont{
          .vertical-title{
            font-family: $axios-montserrat;
            font-weight: $axios-font-regular;
            font-size: 20px;
            line-height: 48px;
            color: #fff;
          }
          p{
            color: #fff;
          }
        }
      }
    }
    &:before,&:after{
      content: "";
      position: fixed;
      width:100vw;
      height:100vh;
      background: $axios-light-grey-bg;
      z-index: -1;
      transition: transform cubic-bezier(.77,0,.175,1) .8 + s;
      transform: translateX(0%);
    }
    &:before{
      transition-delay: .1s;
    }
    &:after{
      background: rgba($axios-dark, 1);
      transition-delay: 0s;
    }
    &.active{
      transform: translateX(0);
      &:before,&:after{
        transform: translateX(100%);
      }
      &:after{
        transition-delay: .1s;
      }
      &:before{
        transition-delay: 0s;
      }
    }
  }
}
@media screen and (min-width: 576px) {
  #what-we-do .vertical-container .vertical-cont-inner .companies .company-cont .company-img .bg-img{height: 225px;}
}

@media screen and (max-width: 768px) {
  #what-we-do {
    .hero-container {
      .hero-bg {
        background-image: none !important;
        background-color: #000;
      }
    }
  }
}
@media screen and (min-width: 768px) {

  #what-we-do {
    .hero-container {
      .canvas-container {
        height: unset;
        background-image: none!important;
        .btn-container {
          width: 720px;
          position: absolute;
          .hotspot-btn {
            display: flex;
            transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
            a{
              line-height: 20px;
              width: 100px;
              position: absolute;
              display: block;
              font-weight: $axios-font-regular;
              font-size: 14px;
              color: $axios-grey-medium;
              font-family: $axios-montserrat;
              &:before{
                content: '';
                font-family: $font-awesome;
                display: block;
                border-radius: 100%;
                position: absolute;
                left: -25px;
                top: 8px;
                height: 14px;
                width: 14px;
                color: $axios-dark;
                font-size: 12px;
                text-decoration: none;
                background-color: $axios-grey-light;
                line-height: 25px;
                text-align: center;
                transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);

              }
              &:hover{
                width: 107px;
                font-size: 18px;
                line-height: 24px;
                color: #fff;
                &:before{
                  left: -35px;
                  top: 5px;
                  height: 35px;
                  line-height: 35px;
                  width: 35px;
                  content: '\f067';
                  transform: rotateX(180deg);
                  font-size: 14px;
                  background-color: #fff;
                }
                &.left{
                  width: 100px;
                  &:before{
                    right: -50px;
                  }
                }
              }
              &.left{
                text-align: right;
                &:before{
                  left: unset;
                  right: -35px;
                }
              }
            }
            #online-lending-btn{
                top: 192px;
                left: 547px;

                // top: 450px;
                // left: 624px;
              }
            #exclusive-partners-btn{
              top: 330px;
              left: 600px;

              // top: 450px;
              // left: 624px;
            }
            #online-gambling-btn{

              top: 437px;
              left: 0px;
              //top: 143px;
              //left: 64px;
            }
            #physical-payments-btn{
             // top: 143px;
              //left: 64px;
              //display: none;
              top: 280px;
              left: 0px;
              display: none;
            }
            #trading-platforms-btn{
              top: 450px;
              left: 624px;

             // top: 459px;
             // left: 286px;
            }
            #online-payments-btn{
              top: 143px;
              left: 64px;

             // top: 600px;
              //left: 300px;
            }
            #technology-providers-btn{
              top: 459px;
              left: 286px;

            //  top: 316px;
             // left: 562px;
            }
            #brokerage-and-liquidity-btn{
              top: 600px;
              left: 300px;

             // top: 192px;
             // left: 547px;
            }
            #education-platforms-btn {
              top: 80px;
              left: 422px;
            }
          }
        }
        canvas{
          width: unset;
          display: block;
          margin: auto;
        }
      }
    }
    .vertical-container {
      padding-top: 80px;
      .back-button-cont{
        padding-top: 50px;
        .back-button a{
          justify-content: flex-start;
        }
      }
      .vertical-cont-inner .companies .company-cont .company-img .bg-img{height: 280px;}
    }
  }
}
