#blog-article {
  .hero-container {
    .hero-content-container {
      height: 100px;
      background-color: $axios-dark;
    }

    .hero-block-separator {
      height: 70px;

      &:before {
        border-width: 0 0 3vw 100vw;
      }

      &:after {
        border-width: 0 0 2vw 100vw;
        border-color: transparent transparent transparent $axios-light-grey-bg;
      }
    }
  }
  .main-content{
    padding-bottom: 150px!important;
    .back-button-cont{
      a{
        text-transform: uppercase;
        font-size: 12px;
        line-height: 35px !important;
      }
    }
    h1{
      font-size: 28px;
      line-height: 30px;
      text-align: center;
      letter-spacing: -1px;
      padding-bottom: 17px;
    }
    h2{
      padding-top: 32px;
      
    }
    h4{
      padding-top: 32px;
      margin-bottom: 0;
    }
    h5{
      font-family: $axios-nunito;
      font-weight: $axios-font-regular;
      font-size: 20px;
      line-height: 30px;
      color: $axios-dark;
      padding-top: 20px;
      margin-bottom: 0;
    }
    .article-date{
      font-family: $axios-montserrat;
      font-size: 14px;
      line-height: 30px;
      font-weight: $axios-montserrat-semibold;
      color: $axios-grey-light;
      padding-bottom: 17px;
      text-transform: uppercase;
    }
    .article-content{
      p {
        margin-bottom: 0;
        padding-top: 32px;
      }
      img{
        width: 100%;
      }
      ul{
        list-style-type: none;
        padding-top: 16px;
        padding-bottom: 20px;
        li{
          display: flex;
          font-family: $axios-nunito;
          font-size: 15px;
          line-height: 30px;
          color: #666;
          font-weight: $axios-font-regular;
          &:before{
            content: '\f0da';
            display: block;
            font-family: $font-awesome;
            font-size: 15px;
            padding-right: 15px;
            font-weight: 900;
          }
        }
      }
      ol{
        padding-left: 16px;
        padding-top: 16px;
        padding-bottom: 20px;
        li{
          font-family: $axios-nunito;
          font-size: 15px;
          line-height: 30px;
          color: $axios-grey-medium;
          font-weight: $axios-font-regular;
          margin-bottom: 10px;
        }
      }
    }
    .blog-article-bottom{
      .tags{
        font-family: $axios-nunito;
        font-size: 15px;
        line-height: 30px;
        color: #666;
        .tag{
          padding: 0 5px;
          font-family: $axios-nunito;
          a{
            font-size: 15px;
            line-height: 18px;
          }
        }
      }
      .share-container{
        .at-share-btn{
          background-color: transparent!important;
          cursor: none;
        }
      }
    }
  }
  .bottom-block-separator{
    &:after{
      border-color: transparent transparent transparent #fff;
    }
  }
  p,.tag,ul,ol{
    a {
      font-family: $axios-nunito;
      font-weight: $axios-nunito-extra-bold;
      font-size: 16px;
      line-height: 22px;
      color: $axios-grey-medium;
      position: relative;
      text-decoration: none;
      display: inline-block;
      padding: 0 1px;
      transition: color ease 0.3s;

      &::before, &::after {
        content: '';
        position: absolute;
        background-color: $axios-grey-medium;
        z-index: 1;
        height: 1px;
      }

      &::before {
        width: 0%;
        left: 0;
        bottom: 0;
        transition: width ease 0.4s;
      }

      &::after {
        width: 100%;
        left: 0;
        bottom: 0;
        transition: all ease 0.6s;
      }

      &:hover {

        &::before {
          width: 100%;
          background-color: $axios-dark;
        }

        &::after {
          background-color: $axios-dark;
          left: 100%;
          width: 0%;
          transition: all ease 0.2s;
        }
      }
    }
  }
  ol{
    li{
      margin-bottom: 5px;
      a{
        display:table !important;
      }
    }
  }
}
  @media screen and (min-width: 576px) {
    #blog-article {
      .main-content {
        h1 {
          font-size: 32px;
          line-height: 40px;
        }
      }
    }
}

@media screen and (min-width: 768px){
  #blog-article {
    .hero-container {
      .hero-content-container{
        height: 175px;
      }
    }
  }
}