#generic-template.thank-you .main-content, #generic-template.error-404 .main-content{
  padding-bottom: 0;
}
#generic-template.thank-you #more-posts,
#generic-template.error-404 #more-posts{
  padding-top: 0 !important;
}