#blog-media {
  .blog-media-cont{
    height: 975px;
  }
  .hero-container {
    .hero-inner{
      height: 500px;
    }
    .hero-bg {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background-size: cover;
    }
    .hero-content-container {
      padding: 150px 4px 50px 4px;
      .content {
        max-width: 525px;
        h3 {
          line-height: 30px;
          color: #fff;
        }
      }
    }

    .blog-block-separator {
      &:after {
        border-color: transparent transparent transparent #eee;
      }
    }
  }
  #blog-media-section{
    position: absolute;
    width: 100%;
    top: 330px;
    z-index: 2;
    .section-cont{
      .section-cont-inner{
        height: 250px;
        a{
          overflow: hidden;
          transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
          .text-cont{
            .title{
              font-family: $axios-montserrat;
              font-weight: $axios-montserrat-medium;
              font-size: 24px;
              line-height: 48px;
              color: $axios-grey-medium;
              transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
            }
            .arrow-icon-cont{
              font-family: $axios-montserrat;
              font-weight: $axios-montserrat-bold;
              font-size: 12px;
              line-height: 24px;
              color: $axios-grey-medium;
              position: absolute;
              bottom: 25px;
              transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
              .arrow-icon {
                position: relative;
                top: -1px;
                -webkit-transition: -webkit-transform 0.3s ease;
                transition: -webkit-transform 0.3s ease;
                transition: transform 0.3s ease, -webkit-transform 0.3s ease;
                vertical-align: middle;
                g{
                  stroke: $axios-grey-medium;
                }
              }

              .arrow-icon--circle {
                transition: stroke-dashoffset .3s ease;
                stroke-dasharray: 95;
                stroke-dashoffset: 95;
              }

            }
          }
          .img-cont{
            .bg-img{
              height: 250px;
              width: 100%;
              background-size: cover;
              transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
              -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
            }
          }
          &:after{
            content: '';
            position: absolute;
            height: 15px;
            background-color: transparent;
            width: 100%;
            left: 0;
            bottom: 0;
            border: solid;
            border-width: 15px 0 0 90vw;
            border-color: transparent transparent transparent $axios-grey-light;
            transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
          }
          &:hover{
            -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.25);
            box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.25);
            .text-cont{
              .title{
                color: $axios-dark;
              }
              .arrow-icon-cont{
                color: $axios-dark;
                .arrow-icon {
                  transform: translate3d(5px, 0, 0);
                  g{
                    stroke: $axios-dark;
                  }
                }
                .arrow-icon--circle {
                  stroke-dashoffset: 0;
                }
              }
            }
            .img-cont{
             .bg-img{
               -webkit-filter: grayscale(0);
               filter: grayscale(0);
             }
            }
            &:after{
              border-color: transparent transparent transparent $axios-grey-dark;
            }
          }
        }
      }
    }
  }
  .bottom-block-separator{
    &:after{
      border-color: transparent transparent transparent #fff;
    }
  }
}

@media screen and (min-width: 576px) {
  #blog-media {
    #blog-media-section {
      top: 330px;
    }
  }
}

@media screen and (min-width: 1200px) {
  #blog-media {
    .blog-media-cont {
      height: 1030px;
    }
    #blog-media-section{
      .section-cont {
        .section-cont-inner {
          a:after{
            content: '';
            position: absolute;
            height: 15px;
            background-color: transparent;
            width: 100%;
            left: 0;
            bottom: 0;
            border: solid;
            border-width: 15px 0 0 70vw;
            border-color: transparent transparent transparent #dfe1e3;
            transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
          }
        }
      }

    }
  }
}