/* SLIDE OUT - SLIDE IN ANIMATION INFINITE */
@-webkit-keyframes slide-out-slide-in-infinite {
  40% {-webkit-transform: translateX(0%); transform: translateX(0%);}
  50% {-webkit-transform: translateX(100%); transform: translateX(100%);}
  50.02% {-webkit-transform: translateX(-100%); transform: translateX(-100%);}
  60% {-webkit-transform: translateX(0%); transform: translateX(0%);}
  100% {-webkit-transform: translateX(0%); transform: translateX(0%);}
}
@-moz-keyframes slide-out-slide-in-infinite {
  0% {-webkit-transform: translateX(0%); transform: translateX(0%);}
  50% {-webkit-transform: translateX(100%); transform: translateX(100%);}
  50.02% {-webkit-transform: translateX(-100%); transform: translateX(-100%);}
  100% {-webkit-transform: translateX(0%); transform: translateX(0%);}
}
@-o-keyframes slide-out-slide-in-infinite {
  0% {-webkit-transform: translateX(0%); transform: translateX(0%);}
  50% {-webkit-transform: translateX(100%); transform: translateX(100%);}
  50.02% {-webkit-transform: translateX(-100%); transform: translateX(-100%);}
  100% {-webkit-transform: translateX(0%); transform: translateX(0%);}
}
@keyframes slide-out-slide-in-infinite {
  0% {-webkit-transform: translateX(0%); transform: translateX(0%);}
  50% {-webkit-transform: translateX(100%); transform: translateX(100%);}
  50.02% {-webkit-transform: translateX(-100%); transform: translateX(-100%);}
  100% {-webkit-transform: translateX(0%); transform: translateX(0%);}
}

#indicator{
  opacity: 1;
  &.animate-indicator{
    width: 70px;
    margin: auto;
    position: absolute;
    bottom: 10%;
    #scroll-indicator-animation {
      transform: rotate(90deg);
      width: 100%;
      height: 2px;
      overflow: hidden;
      .scroll-indicator {
        position: absolute;
        width: 30px;
        height: 2px;
        overflow: hidden;
        &:after {
          bottom: 0;
          left: 0;
          width: 30px;
          height: 2px;
          border-bottom: 1px solid $axios-grey-light;
          content: "";
          display: block;
          position: absolute;
          -webkit-transition: all 2s cubic-bezier(0.58, 0.3, 0.005, 1);
          transition: all 2s cubic-bezier(0.58, 0.3, 0.005, 1);
          -webkit-animation: slide-out-slide-in-infinite 2s cubic-bezier(.18, .43, .01, .96) 0s 1;
          animation: slide-out-slide-in-infinite 2s cubic-bezier(.18, .43, .01, .96) 0s 1;
          -o-animation: slide-out-slide-in-infinite 2s cubic-bezier(.18, .43, .01, .96) 0s 1;
          animation-iteration-count: infinite;
        }
      }
    }
  }
}