$axios-montserrat:'Montserrat', sans-serif;
$axios-nunito:'Nunito Sans', sans-serif;
$font-awesome:"Font Awesome 5 Pro", sans-serif;

/** Colors */

$axios-dark: #0a0b0b;
$axios-grey-dark: #5f6a75;
$axios-grey-medium: #858f99;
$axios-grey-light: #a7adb5;
$axios-light-grey-bg: #eee;
$axios-text-paragraph: #666;

/** Font Weights */

$axios-font-regular: 400;
$axios-montserrat-thin : 100;
$axios-montserrat-semibold: 600;
$axios-montserrat-medium: 500;
$axios-montserrat-bold: 700;
$axios-nunito-bold: 700;
$axios-nunito-extra-bold: 800;

/** Z-Index */


$zindex-search:105;
$zindex-search-content:106;
$zindex-menu-navbar:110;
$zindex-cookie:115;
$zindex-verticals:120;
$zindex-preloader:1205;

/** Transition */

$axios-transition:all 0.6s;
$axios-transition-fast:all 0.3s;
$easeInOutQuart:cubic-bezier(0.86, 0, 0.07, 1);
$easeOutQuart:cubic-bezier(.77,0,.175,1);
$easeInQuart:cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeInSine:cubic-bezier(0.47, 0, 0.745, 0.715);

/** Box Shadow */
